# Example environment variables for local development

## Database
DB_URL=jdbc:postgresql://localhost:5432/beauty_center_db
DB_USERNAME=postgres
DB_PASSWORD=mouadhmb12
POSTGRES_DB=beauty_center_db

## JWT and encryption
JWT_SECRET=to-replace
ENCRYPTION_KEY=replace-with-32-byte-or-appropriate-key

## Optional mailhog
MAILHOG_API=http://localhost:8025
